*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img{
    width: 90vh;
    height: 60vh;
    margin: auto;
    border: 10px solid black;

}

/* klasnei hamar stanum es 2 miavor ba*/
img{
    width: 100%;
    height: 100%;
}