*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btm_items{
    display: flex;
    max-width: 1000px;
    margin: 50px auto 0;
}

.items{
    text-align: center;
}

.btm_items a{
    background-color:aqua;
    display: flex;
    width: 150px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
    text-decoration: none;
    color: var(--w);
    border-radius: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}